html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* FONT FAMILY */
  --ff-roboto: 'Roboto', sans-serif;
  --ff-roboto-flex: 'Roboto Flex', 'Roboto', sans-serif;

  /* COLORS */
  --white: rgb(255, 255, 255);
  --dark: rgb(15, 15, 15);
  --veryDarkGrey: rgb(24, 24, 24);
  --darkGrey: rgb(33, 33, 33);
  --gradient: linear-gradient(180deg, var(--veryDarkGrey), var(--dark));
  --grey: rgb(48, 48, 48);
  --hover-color: rgba(255, 255, 255, 0.08);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: var(--ff-roboto);
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--dark);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  max-width: 1525;
  min-width: 445px;
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  font-size: 12px;
}

.header {
  --link-dimension: 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
}
@media (min-width: 38.75em) {
  .header {
    gap: 50px;
  }
}

.link {
  position: relative;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.header__link {
  font-size: 18px;
  width: var(--link-dimension);
  height: var(--link-dimension);
  line-height: var(--link-dimension);
  text-align: center;
  border: 0;
  transition: background-color 150ms ease-in-out;
}
.header__link:hover {
  background-color: var(--hover-color);
}
.link::before {
  content: '';
  position: absolute;
  font-size: 12px;
  line-height: 100%;
  top: 175%;
  left: 50%;
  translate: -50%;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  color: var(--white);
  background-color: rgb(133, 133, 133);
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms 100ms ease-in-out;
}
.link:hover::before {
  visibility: visible;
  opacity: 0.9;
}

.header__start {
  display: flex;
  align-items: center;
}

.header__menu-btn {
  display: inline-block;
  height: 40px;
  padding: 8px;
  background-color: inherit;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 150ms ease-in-out;
}
.header__menu-btn:hover {
  background-color: var(--hover-color);
}

.header__menu-btn image {
  width: 24px;
  height: 24px;
}

.header__menu-btn span:not(:last-child) {
  margin-bottom: 6px;
}

.header__logo {
  display: grid;
  place-items: center;
  padding: 0 18px;
  cursor: pointer;
}

.header__logo img {
  width: 90px;
}

.header__center {
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: 645px;
}

@media (max-width: 38.75em) {
  .header__center {
    margin-left: auto;
  }
}

.header__search {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.header__search-form-control,
.header__search button {
  display: none;
}

.header__search-form-control input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: var(--white);
  padding: 0 20px;
  height: var(--link-dimension);
  line-height: var(--link-dimension);
  border-radius: 15rem 0 0 15rem;
  border: solid 1px var(--grey);
  background-color: inherit;
  width: 100%;
}

.header__search-form-control input:focus {
  outline: solid 1px blue;
  outline-offset: -1px;
  border-color: transparent;
}

.header__search button {
  width: 64px;
  border-radius: 0 15rem 15rem 0;
  border-top: solid 1px var(--grey);
  border-right: solid 1px var(--grey);
  border-bottom: solid 1px var(--grey);
  background-color: var(--hover-color);
  cursor: pointer;
}
.header__search button::before {
  content: 'Search';
}

.header__search-icon {
  border-radius: 50%;
}
.header__search-icon::before {
  content: 'Search';
}

.header__search-microphone-wrapper {
  background-color: var(--darkGrey);
}

.header__search-microphone {
  border-radius: 50%;
}
.header__search-microphone::before {
  content: 'Search with your voice';
}

@media (min-width: 38.75em) {
  .header__center,
  .header__search,
  .header__search-form-control {
    flex: 1;
  }

  .header__search-form-control,
  .header__search button {
    display: block;
  }

  .header__search-form-control {
    display: flex;
    align-items: center;
  }
  .header__search-form-control input {
    flex: 1;
  }

  .header__search-icon {
    display: none;
  }

  .header__search-microphone-wrapper {
    border-radius: 50%;
  }
}

.header__end {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header__create::before {
  content: 'Create';
}

.header__notifications::before {
  content: 'Notifications';
}

.header__profile {
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden;
}

.header__profile img {
  width: 100%;
}

.main {
  margin-top: 76px;
  height: 120vh;
}

.video__player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  background: var(--gradient);
}

.video__player iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.video__title {
  font-family: var(--ff-roboto-flex);
  font-size: 20px;
  margin: 1rem 0;
}

.suggestions {
  height: 50vh;
  border: solid 1px red;
}

.comments {
  border: solid 1px blue;
  height: 50vh;
}

.video__channel {
  font-weight: 500;
}

.video__channel-description p {
  margin: 0;
}

.video__channel-description-start span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.525);
}

.video__channel-description-end {
  font-size: 18px;
}

.video__channel-description-end {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.video__channel-description-end span {
  font-size: 1rem;
}

.video__channel-description-end a:first-child::before {
  content: 'I like this';
}

.video__channel-description-end a:nth-child(2)::before {
  content: 'I dislike this';
}

.video__channel-description-end a:nth-child(3)::before {
  content: 'Share';
}

.video__channel-description-end a:nth-child(4)::before {
  content: 'Clip';
}

.video__channel-description-end a:nth-child(5)::before {
  content: 'Save';
}

@media (min-width: 87.5em) {
  .video__channel-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.video__channel-details {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  padding: 1rem 0;
}

@media (min-width: 40em) {
  .video__channel-details {
    flex-direction: row;
  }
}

@media (min-width: 64em) {
  .video__channel-details {
    flex-direction: column;
  }
}

@media (min-width: 87.4375em) {
  .video__channel-details {
    flex-direction: row;
  }
}

.video__channel-details-start {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.65rem;
  border: solid 1px var(--grey);
  border-radius: 4px;
}

.video__channel-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.video__channel-logo img {
  width: 100%;
  border-radius: 50%;
}

.video__channel-name {
  font-size: 14px;
  margin-right: auto;
}

.video__channel-name a::before {
  content: 'Beautiful Destinations';
  top: -345%;
}

.video__channel-name p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.525);
}

.video__channel-btn {
  font-family: var(--ff-roboto-flex);
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  background-color: red;
  padding: 0 1rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.video__channel-details-end {
  flex: 1;
  display: flex;
  align-items: start;
  font-size: 12px;
  padding: 0.5rem 0.65rem;
  border: solid 1px var(--grey);
  border-radius: 4px;
}

.video__channel-allcomments {
  padding-right: 0.75rem;
  border-right: solid 1px var(--grey);
}

.video__channel-allcomments span:first-child {
  font-size: 14px;
}

.video__channel-allcomments span:last-child {
  color: rgba(255, 255, 255, 0.525);
}

.video__channel-firstcomment {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  gap: 0.75rem;
  padding-left: 0.75rem;
}

.video__channel-firstcomment img {
  width: 20px;
  border-radius: 50%;
}

.video__channel-firstcomment p {
  margin: 0 auto 0 0;
}

.video__channel-firstcomment i {
  font-size: 14px;
  align-self: center;
}
